*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

.container {
  height: 300px;
  width: 300px;
  margin: 0px auto;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  border: 2px solid rgb(255, 255, 255);
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

span {
  font-size: 60px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.border_top{
  border-top: 2px solid black;
}
.border_bottom{
  border-bottom: 2px solid black;
}
.border_right{
  border-right: 2px solid black;
}
.border_left{
  border-left: 2px solid black;
}

.scoreContaner{
  height: 60px; 
  width: 360px;
  margin: 0 auto;
   display: flex;
   margin-top: 60px;
}
.playerScoreWrapper{
    width:120px;
    height: 60px;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.playerScoreWrapper span{
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
strong{
  font-size: 24px;
  font-weight: 300;
}
.playagainResetButtonWrapper{
  height: 50px;
  width: 300px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.playagainResetButtonWrapper button{
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 5px 10px;
    margin-left: 10px;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}